body {
    font-family: 'Balsamiq Sans', cursive;
    scroll-behavior: smooth;
}

.page {
    width: 92%;
    height: 110vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 4%;
}

.align-center {
    align-items: center;
}

.align-left {
    align-items: flex-start;
}

.text-center {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Balsamiq Sans', cursive;
}

h1 {
    font-size: 2.1em;
    font-weight: 500;
    text-align: left;
}

h2 {
    font-size: 1.8em;
    font-weight: 300;
}

#about {
    color: yellow;
    font-style: bold;
    background-color:green;
}

#about > h1 {
    font-size: 2.6em;
}

#arb {
    color: blue;
}

#contact {
    color:whitesmoke;
    background-color:blue;
}


#showcose {
    color: #fff;
    background-color:red;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-grow: 1;
    justify-content: end;
    height: 2rem;
    position: fixed;
}

img:hover {
    opacity: 0.5;
}

.footer {
    background-color: violet;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

.nav-link {
    color: aqua;
    padding: .5rem 1rem;
}

.nav-link:hover {
    color: darkblue;
}

.navbar-toggle {
    border: none;
    background-color: transparent;
}

.collapse {
    display: block !important;
}

.navbar-collapse {
    display: flex;
    flex-basis: 100%;
}

@media (min-width: 768px) {
    #about > h1 {
        font-size: 3.4em;
    }
    .navbar-collapse {
        display: flex;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar {
        justify-content: left;
    }
    #about > h2 {
        font-size: 1.25em;
        color: blue;
    }
    #showcase > h1 {
        font-size: 2em;
        font-style: italic;
        color: blue;
    }
    #showcase > h2 {
        font-size: 1.25em;
        color: blue;
    }
    .showcase-1 > h2 {
        font-size: 1.25em;
        color: violet;
    }
    .showcase-1 > p {
        font-size: 1em;
        color: green;
    }
    .about-info > h2 {
        font-size: 1.25em;
        color:blue;
    }
    .about-info > p {
        font-size: 1.25em;
        color:aqua;
    }
    .contact-1 > a {
        font-size: 1.25em;
        color:aqua;
    }
    #contact > h1 {
        font-size: 2em;
        font-style: italic;
        color: red;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        display: none;
    }

    h2 {
        font-size: 1.2em;
    }
}

.btn {
    border: 2px solid blue;
    border-radius: 4px;
    font-size: 1em;
    line-height: 1.4empx;
    padding: 1em;
    color: yellow;
}

.btn:hover {
    opacity: 0.4;
    border: 5px solid blue;
    font-size: 20px;
    color: aqua;
}