/*
Colors
#1ddc00 grön
#ff0000 röd
#0000fd blå
#fff vit
*/
  body, html {
    font-size: 100%;
    font-family: "Helvetica", sans-serif;
    scroll-behavior: smooth;
    background-color: #d5d8d9;
  }

  body, html {
    margin: 0;
    padding: 0;
  }

  nav ul {
    list-style: none;
    padding: 0;
    background: #0000fd;
  }

  nav ul li a {
    color: #ddd;
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
    line-height: 1;
  }

  nav ul li {
    border-bottom: 1px dotted #ddd;
  }

  nav div:first-child {
    background: #0000fd;
  }

  nav div:first-child h1 {
  line-height: 0;
  padding: .8rem 0rem;
  text-align: center;
  }

  nav div:first-child img {
    /*filter: contrast(0); Detta gör så att kontrast av färgen blir gråaktig och det vill jag inte ha*/
  }

  nav div:first-child h1, nav ul {
    margin: 0;
  }

  /*
  För större skärmar
  */
  @media only screen and (min-width: 30em) {
    nav {
      display: flex;
      justify-content: space-between;
      background-color: #0000fd;
      align-items: center;
    }
    nav ul {
      display: flex;
      align-items: center;
      background: none;
      flex-wrap: wrap;
    }
    nav ul li {
      border-bottom: none;
      flex: 1 0 auto;
      position: relative;
    }
    nav div:first-child h1 {
      padding: 0;
      margin: 0 1rem;
    }
    nav div:first-child img{
      height: 40px;
    }
    nav ul li a {
      padding: 1.2rem 1rem; 
    }

    /*
    Hover effect
    */
    nav ul li a::before, nav ul li a::after {
      content: "";
      width: 0%;
      height: 2px;
      background: #ff0000;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      transition: .2s width ease-in-out;
    }
    nav ul li a::before {
      left: 0;
    }
    nav ul li a:hover::after, nav ul li a:hover::before {
      width: 50%;
    }
    .text-center {
      text-align: center;
    }
    .btn {
      color: white;
      background-color: #ff0000;
      border-radius: 5px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      height: 50px;
      width: 250px;
      font-size: 20px;
      color: #fff;
    }
    .btn:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .about-info {
      align-items: center;
      align-content: center;
      text-align: center;
    }
    .nav-link {
      color: #fff;
    }
    .btn-other {
      color: white;
      background-color: #0000fd;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      border-radius: 5px;
      height: 50px;
      width: 250px;
      font-size: 20px;
      color: #fff;
      transition-duration: 0.4s;
    }
    .btn-other:hover {
      background-color: #1ddc00;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      color: #fff;
    }
  }


.container {
  padding: 5px;
  margin: 0 auto;
  width: 70%;
  background-color: #d5d8d9;
}

.btn {
  color: white;
  background-color: #ff0000;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: 50px;
  width: 250px;
  font-size: 20px;
  color: #fff;
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav-link {
  color: #fff;
}

.nav-link:hover {
  
}

.btn-other {
  color: white;
  background-color: #0000fd;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  height: 50px;
  width: 250px;
  font-size: 20px;
  color: #fff;
  transition-duration: 0.4s;
}
.btn-other:hover {
  background-color: #ff0000;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #fff;
}
video {
  width: 50%;
  max-height: 50%;
}
