* {
margin: 0;
padding: 0;
}

html, body{
  height: 100vh;
  background-color: #000;
}

/*css animations*/
@keyframes moveUp {
  from {top: 0px;}
  to {top: -50px;}
}

@keyframes moveDown {
  from {top: -50px;}
  to {top: 0px;}
}

@keyframes fadeIn {
 0% {opacity: 0;}
 100% {opacity: 1;}
}

@keyframes expand {
  0% {width: 0;}
  100% {width: 100%;}
}
/**********************/

  h1{
    font-family: 'Quicksand', sans-serif;
    color: #e6e0dc;
    font-size: 600%;
    font-weight: 100;
    line-height: 50vh;
    opacity: 0;
    animation: fadeIn 2s .5s forwards;
  }

  .flex_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 50%;
    flex-basis:100%;
  }

  .hero {
    position: relative;
    text-align: center;
  }

  .hero_wrapper {
    background-color: #000;
    width: 100%;
    height: 50%;
  }
  /*header end*/

  p {
    line-height: 50vh;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 7vh;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .images p{
    opacity:0;
    position: relative;
    z-index: 1;
    line-height: normal;
    font-size: 2.5em;
    font-weight: bolder;
  }

  .overlay {
    text-align: center;
  }

  .back{
    padding: auto;
    cursor: pointer;
  }

  p.back {
    line-height: normal;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    font-family:'Quicksand', sans-serif;
    font-size: 4vh;
    font-weight: bolder;
    color: #fff3eb;
    opacity: 0;
    z-index: 1;
  }

  .flex_item {
    top:0;
    position: relative;
  }

  .flex_hover:hover { /*extra class to remove from DOM once section is chosen without disturbing flex_item class.*/
    opacity: 0.9;
    animation: moveUp 1s;
    animation-fill-mode: forwards;*/
  }

  .absoluteSection { /*properties of section after clicked*/
    position: absolute;
    height: 100vh;
    clear:both;
    overflow-y: auto;
  }

  div .images {
    display: none;
    margin: 0 10px;
  }

  img {
    position: relative;
    top: 30vh;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  #profile{
    width: auto;
    height: auto;
    margin-top: 20%;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
  }

  .images:nth-child(1){
    margin: 0 auto;
 }

 .images:hover img{
   opacity: 0.25;
 }

  #profile:hover img{
   opacity: 1;
 }

 .images:hover p{
   opacity: 1;
 }

  section:nth-child(1){
    flex:1;
    background-color: #8919F4;
    cursor: pointer;
  }

  section:nth-child(2) {
    flex: 1;
    background-color: #F21449;
    cursor: pointer;
  }

  section:nth-child(3) {
     flex: 1;
     background-color: #FFC740;
      cursor: pointer;
  }

/*Queries*/
@media screen and (max-width:1599px) {
  .flex_container{
    flex-direction: column;
    height: auto;
  }

  h1{font-size: 500%;}
}

@media screen and (max-width:325px) {
  .back {font-size: 3.8vh;}
}

@media screen and (max-width:675px) {
  p.category { font-size: 200%;}
}